asgiref==3.11.0
Django==5.2.9
django-allauth==65.13.1
docopt==0.6.2
dotenv==0.9.9
numpy==2.3.5
psycopg2-binary==2.9.11
pydicom==3.0.1
pykwalify==1.8.0
pyradiomics==3.0.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
PyWavelets==1.9.0
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.15
simpleitk==2.5.3
six==1.17.0
sqlparse==0.5.4
